.container {
  width: 600px;
  margin: 0 auto;
  padding: 10px;
  background-color: beige;
}

.todo-form {
  display: flex;
}

.todo-form input[type=text] {
  flex: 1;
}

.todo-row {
  display: flex;
}

.todo-row .todo-edit {
  display: none;
}

.todo-row.edit .todo-edit {
  display: inline;
}

.todo-row.edit .todo-title {
  display: none;
}

.todo-title, .todo-edit {
  flex: 1;
}

